<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Accueil_lotterie</title>
    </head>

    <body>
		<header>
		<h1>
		Liste des gains
		</h1>
		</header>
<nav>
	<ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/results">Resultat</a></li>
    <li><a href="/gains">Liste des gains</a></li>
    </ul>
</nav>
	   <p>
	   1 chiffre ------------->porte clé</br>
	   2 chiffre ------------->torche</br>
	   3 chiffre ------------->housse de telephone</br>
	   4 chiffre ------------->trottinette</br>
	   5 chiffre ------------->voiture
	   </p>
		</form>

	</body>
</html>
