<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Mes resultats</title>
    </head>

    <body>
		<header>
		<h1>
		Resultat
		</h1>
		</header>
<nav>
	<ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/results">Resultat</a></li>
        <li><a href="/gains">Liste des gains</a></li>
    </ul>
</nav>
	    <h3>Bienvenue dans votre espace personnel Mr/Mme <span class="player"></span></h3>

      <h3>liste des mes paris : </h3>
      <ul class="bets">
      </ul>

	</body>
</html>
