<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Accueil_lotterie</title>
    </head>

    <body>
		<header>
		<h1>
		Resultat
		</h1>
		</header>
<nav>
	<ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/results">Resultat</a></li>
        <li><a href="/gains">Liste des gains</a></li>
    </ul>
</nav>
	    <h3>Block : <span class="blockHeight" style="font-weight: bold">height</span></h3>
	    <h3>Block +2 : <span class="block2Height" style="font-weight: bold">height2</span></h3>

      <h3>liste des paris : </h3>
      <ul class="bets">
      </ul>

	</body>
</html>
